/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body { 
  height: 100%; 
  font: 17px/1.4 'Segoie',sans-serif;
}

body {
  background: #eee;
}

.wrapper {                        // Wrapper around all block content
  @include vertical-align;
  width: 90%;
  width: 950px;
  margin: 0 auto 0;
  color: #222;
  background: #fff;

  .header {                       // Horizontal row with header
    padding: 15px;
    color: #fff;
    background: #777;
    h1 {
      margin-top: 0;
    }
  }
}

