/* Industries: Home
*******************************************************************************/
body.page--industries {
  img.canvas {
    position: fixed;
    top: 0;
    z-index: -1000;
  }
}

.wrapper1 {
  width: 100%;  
  height: 250px;
}

/* Industries: Header
*******************************************************************************/
.wrapper--splash__about {
  background: url("http://pagedna.com/css/../images/PageDNA_splash.jpg") no-repeat 0 0 white;
}

/* Industries: Sub Categories
*******************************************************************************/
body.page--about .wrapper {
  @include flexbox();
  @include flex-flow(row wrap);
  @include box-shadow(0 0 14px 0px #333);
  border-top: 0;
}


.company--overview {
  @extend .industries--content;
  @include flexbox();
  @include flex-flow(row wrap);
  border-top: 0;

  header {
    @include flex(1 0 100%);
    width: 100%;
    h1 {
      font-family: $proxima;
      font-size: 20px;
      text-align:left;
    }
  }

  div {
    @include flex(1 0 40%);
    font-size: 14px;
    line-height: 28px;
    font-family: $opensans;
    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  &:first-child {
    margin-top: 25px;
  }
}

// Top section, Stats / Company info / Mgmt team
.company {
  @extend .industries--content;
  margin-top: 100px;

  &--stats {
    @include flex(1 0 100%);
    margin: 10px;
    margin-bottom: 100px;
    position:relative;  

    &__each {
      float:left;
      width: 33%; 
      background: none;  
  
      h2 {
        font-family: $proxima;
        font-size: 20px;
        text-align:center; 
      }
    }
  
    .about--content__svg {
      width: 115px;
      margin: -90px auto 25px;
      display: block;
      background: #fff;
      padding: 20px;
      z-index: 10;
      position:relative;
      @include border-radius(100px);
      padding: 20px;
      border: 10px solid #0091B3;
    }
  
  
    li {
      list-style-type:none;
      font-family: $proxima;
      font-size: 14px;
      margin-bottom: 15px;
      img { // Bullet point SVGs
        width: 25px;
        margin-right: 5px;
        float:left;
      }
    }
  }
}

// 50% Columns
.company {
  @include flexbox();
  @include flex-flow(row wrap);
  &--column {
    @include flex(1 0 45%);
    margin: 10px;
    @extend .industries--content;
    width: 50%;
    float:left;

    .about--content__svg {
      width: 115px;
      margin: -90px auto 25px;
      display: block;
      background: #fff;
      padding: 20px;
      z-index: 10;
      position:relative;
      @include border-radius(100px);
      padding: 20px;
      border: 10px solid #0091B3;
    }

    header {
      color: #222;
      font-family: $proxima;
      font-size: 16px;
      text-align:center;
    }

    h3 {
      text-align:left;
      margin-left: 15px;
      margin-bottom: 5px;

    }

    ul {
      margin-top: 0;
      padding-left: 15px;
      margin-bottom: 25px;
      li {
        font-family: $opensans;
        font-size: 14px;
        list-style-type:none;
        text-align:left;
        padding-left: 15px;
        margin-bottom: 10px;
        i {
          margin-right: 5px;
          float:left;
          font-size: 18px;
          width: 20px;
        }

        &.billingAddr {
          margin-left: 25px;
        }

        &#remitNote {
          font-style:italic;
          margin-left: 25px;
        }
      }
    }
  }

}





