/* Industries: Home
*******************************************************************************/
body.page--industries {
  img.canvas {
    position: fixed;
    top: 0;
    z-index: -1000;
  }
}

.wrapper1 {
  width: 100%;  
  height: 250px;
}

/* Industries: Header
*******************************************************************************/
.wrapper--splash__industries {
  background: url(../img/splash_industries-light.jpg) 0 0 no-repeat;
}

/* Industries: Sub Categories
*******************************************************************************/
body.page--industries .wrapper {
  @include flexbox();
  @include flex-flow(row wrap);
  @include box-shadow(0 0 14px 0px #333);
  border-top: 0;
}

.industries {
  @include flex(1 0 100%);
  margin: 0 0 50px 0;

  &:first-child {
    margin-top: 100px;
  }

  .industries--content__svg {
    width: 115px;
    margin: 0 auto;
    display: block;
    background: #fff;
    border-radius: 100px;
    padding: 20px;
    border: 10px solid #0091B3;
    z-index: 1;
  }

  //Wrapper around each category
  &--content {
    width: 100%;
    max-width: 950px;
    max-width: 95rem;
    margin: -50px auto 0;
    padding-top: 20px;
    border-top: 10px solid #0091B3;
    border-radius: 40px;

    // Paragraph & Title block per category
    &__block {
      height: 350px;
      padding: 20px;

      position: relative;

      color: #222;
      font-family: $proxima;
      font-size: 16px;
      line-height: 28px;
      float:left;
      width: 50%;
      z-index: 100;



      > a {
        text-align:center;
        display:block;
        color: #555;
        text-decoration:none;
        text-align:center;
        font-style:italic;
        font-weight: 100;
      }

      h2 {
        font-size: 4rem;
        margin: 10px 0 10px 0px;
        font-weight: 100;
        font-family: $proxima;
        color: #222;
        text-align:center;
      }
    }

    // List of highlights per category
    &__list {
      float:left;
      width: 42%;
      padding-left: 0;
      list-style-type:none;
      margin: 75px 20px 0 20px;

      li {
        font-family: $proxima;
        font-size: 16px;
        height: 40px;
        img { // Bullet point SVGs
          width: 25px;
          margin-right: 5px;
        }
      }
    }
  }
}
